[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=gedit
Comment=app
Exec=gedit
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
